<p-card header="Select One Person">
  <div class="grid justify-content-center">
    <p-table class="col-12" [value]="users" selectionMode="single" [(selection)]="selectedUser" dataKey="name">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Rate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
          <td>{{product.name}}</td>
          <td>{{product.age}}</td>
          <td>{{product.rate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="!selectedUser" class="text-red-500">Please Select One Person</div>
  <app-footer-btns [enableNext]="selectedUser != null" (nextPage)="nextPage()" (prePage)="prePage()"></app-footer-btns>
</p-card>
