<p-card header="Submitted Form">
  <div class="grid p-fluid flex-column">
    <div class=" justify-content-center" *ngFor="let item of summaryObj.form | keyvalue">
        <p>{{item.key}} : {{item.value}}</p>
      </div>
  </div>
</p-card>
<p-card header="Uploaded Image" *ngIf="summaryObj?.image[0]">
  <div class="grid p-fluid justify-content-center">
    <p>Image name : {{summaryObj?.image[0]?.name}}</p>
  </div>
</p-card>
<p-card header="selected Person">
  <div class="grid p-fluid justify-content-center flex-column">
    <p>Name : {{summaryObj.table.name}}</p>
    <p>Age : {{summaryObj.table.age}}</p>
    <p>Rate : {{summaryObj.table.rate}}</p>
  </div>
</p-card>
