<p-card header="sample fom">
  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">$</span>
        <input type="text" pInputText placeholder="Amount">
      </div>
    </div>

    <div class="col-12 md:col-4 p-field">
      <label for="min-max">Min-Max</label>
      <p-calendar
        [(ngModel)]="date"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [readonlyInput]="true"
        inputId="min-max"
      ></p-calendar>
    </div>
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">www</span>
        <input type="text" pInputText placeholder="Website">
      </div>
    </div>
  </div>
</p-card>
